.form {
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 20px;
  padding: 50px;
}

.form-title {
  font-weight: bold;
}

.form-subcribe {
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.form-subcribe > input {
  border: none;
  width: 300px;
  height: 30px;
  padding: 25px;
  border-radius: 6px;
}

.form-subcribe button {
  margin-left: 10px;
  height: 50px;
  background-color: #0282dd;
  border: none;
  font-weight: 500;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  opacity: 0.8;
}

.form-subcribe button:hover {
  opacity: 1;
}

/* .wellcome {
  font-size: 40px;
  text-align: "center";
  display: none;
} */
